<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>웹캡 인식</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='video.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='exit_btn.css') }}">
    <script src="{{ url_for('static', filename='js/webcam.min.js') }}"></script>
</head>
<body>
    <div class="video-container">
        <h1 class="video-title">웹캡 인식</h1>
        
        <!-- 비디오 스트리밍을 위한 이미지 태그 -->
        <div class="video-section">
            <div class="video-container">
                <video id="videoFeed" width="auto" height="auto" autoplay></video>
            </div>
        </div>
    </div>

    <!-- OCR 결과 섹션 -->
    <div class="ocr-results-section" style="display:none;">
        <h2>인식된 번호판</h2>
        <ul class="ocr-results" id="ocrResults">
            <!-- OCR 결과가 들어갈 곳 -->
        </ul>
    </div>

    <!-- 버튼으로 이미지 캡처 및 결과 표시 -->
    <div class="control-buttons">
        <!-- 웹캡 끄기 버튼 (웹캡이 켜진 상태에서만 보임) -->
        <button id="stopButton">웹캡 끄기</button>

        <!-- 이미지 캡처 버튼 (웹캡이 꺼진 상태에서만 보임) -->
        <button id="captureButton" style="display:none;">이미지 캡처</button>

        <!-- 웹캡 켜기 버튼 (웹캡이 꺼진 상태일 때만 보임) -->
        <button id="startButton" style="display:none;">웹캡 켜기</button>
    </div>

</body>
</html>
